includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - app
        - Modules
    level: 5
    bootstrapFiles:
        - vendor/larastan/larastan/bootstrap.php
    excludePaths:
        - Modules/*/tests
        - tests

